::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: #3a506b;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #00a5cf;
  outline: 1px solid #00a5cf;
  border-radius: 10px;
}
